<h1>Signup Confirmation</h1>
<form action='/index.php/signup_confirmation' method='post'>
    <fieldset>
        <legend>Do you really want complete your registration?</legend>
        <input name='username' type='hidden' value='{{ username }}' />
        <input name='password' type='hidden' value='{{ password }}' />
        <button>Confirm</button>
    </fieldset>
</form>

